<!DOCTYPE html>
<html lang="en">
<head>
    <base href="{{ data['host_url'] }}">
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"
          href="http://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.css">
    <link rel="stylesheet"
          href="https://cdn.datatables.net/1.10.15/css/dataTables.semanticui.min.css">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.2.3/jquery-confirm.min.css">
    <link rel="stylesheet" href="assets/css/custom_stylesheet.min.css">
    <title>My shoppinglist</title>
    <style>
        body {
            background-image: url("assets/images/background-0.jpg");
        }
    </style>
</head>
<body>
<div class="logout-link">
    <a href="/logout">Logout</a>
</div>
<div class="mid-center">
    <h3>My shopping-lists</h3>
    <div id="shoppinglist">
        <form method="post" action="/update/shopping-list">
            <br>
            <br>
            <br>
            <table class="ui celled table" id="shoppinglistTable">

                <!-- loop through my shoppinglists creating a table row for each shoppinglist  -->
                {% for shoppinglist in data['current_users_shopping_lists'] %}
                <tr id="{{ shoppinglist.id }}">
                    <td>{{ shoppinglist.priority }}</td>
                    <td class="reference-links"
                        data-ref="\shopping-list\{{ shoppinglist.id }}">
                        {{ shoppinglist.title }}
                    </td>
                    <td>
                        <a class="btn btn-default edit-btn">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <a class="btn btn-default delete-btn"
                           delete-ref="/delete/shopping-list/{{ shoppinglist.id }}">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}

            </table>
        </form>
        <br>
        {% if data['message'] != None %}
        <div class="btn btn-warning col-md-12">{{ data['message'] }}</div>
        {% endif %}
        <br>
        <form method="post" action="/create/shopping-list" class="add-shoppinglist">
            <h4>Add shoppinglist</h4>
            <div class="form-group col-md-10">
                <input type="text" name="title" class="form-control"
                       value="{{request.form.title}}"
                       aria-required="true" required placeholder="New shoppinglist">
            </div>
            <div class="form-group col-md-2">
                <button class="btn btn-primary">+ Add</button>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript"
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript"
        src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script type="text/javascript"
        src="https://cdn.datatables.net/1.10.15/js/dataTables.semanticui.min.js"></script>
<script type="text/javascript"
        src="http://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.2.3/jquery-confirm.min.js"></script>
<script type="text/javascript" src="assets/js/custom_javascript.js"></script>
</body>
</html>